<div class="card w-full">
  <img [src]="content.imageUrl[imgIndex]" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ content.title }}</h5>
    <p class="card-text">
      {{ content.contents }}
    </p>
    <div class="d-flex justify-content-between">
      <button (click)="onLike()">
        {{ content.likes ? "Unlike" : "Like" }}
      </button>
      <button *ngIf="(content.imageUrl?.length ?? 1) > 1 && imgIndex < (content.imageUrl?.length ?? 1) - 1" class="" (click)="onSkip()">
        Skip
      </button>
    </div>    
  </div>
</div>
